<div class="container">
    <div class="jumbotron text-center">
        <h1>ADD A MOVIE!!</h1>
    </div>
    <div class="col-md-12">
        <input type="text" class="form-control" placeholder="add new movie title" ng-model="vm.newMovie.title">
        <br>
        <input type="text" class="form-control" placeholder="add image URL" ng-model="vm.newMovie.posterUrl">
        <br>
        <textarea type="text" class="form-control" rows="2" placeholder="description" ng-model="vm.newMovie.description"></textarea>
        <br>
        <button class="btn btn-default" ng-click="vm.addNewMovie(vm.newMovie)">add new movie</button>
    </div>
</div>